# Copy this file to `.env.dev` for development or `.env.prod` for production and adjust values

# Environment selection: dev or prod
ENVIRONMENT=dev

# Kafka settings
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=motion-event
KAFKA_GROUP_ID=accident-consumer-group
KAFKA_AUTO_OFFSET_RESET=earliest
